<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <div class="app-name has-gradient-text">KanBan board</div>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-bar-name">Board name</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="board-column-title">{{column.name}}</div>

          <div
            class="task-container"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="task-container-task" *ngFor="let item of column.tasks" cdkDrag>
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
